.mapa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  width: 300px;
}

.custom-marker {
  width: 3%;
  height: 3%;
  background-size: cover;
  background-image: url('../../../public//djimapicon.png');
  padding: 10px;
  cursor: pointer;
}