/* Footer.css

.footer-container {
  background-color: rgb(17, 29, 30);
  width: 100%;
}

.footer-wrap {
  padding: 48px 35px;
  margin-left: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
  color: white;
}

.footer-wrap > *:first-child {
  justify-content: start;
}

.footer-wrap > *:last-child {
  justify-content: end;
}

@media screen and (max-width: 768px) {
  .footer-wrap {
    gap: 12px;
  }
}

@media screen and (max-width: 414px) {
  .footer-wrap {
    flex-direction: column;
    padding: 48px 5px;
  }
}

.footer-logo-and-address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  max-width: 300px;
  align-items: start;
}

.footer-logo {
  cursor: pointer;
  background: url("../../images/Logo/logoBeliPlav.jpg") no-repeat center center /
    contain;
  background-color: rgb(17, 29, 30);
  background-size: cover;
  width: 40px;
  height: 30px;
  min-width: 145px;
  min-height: 45px;
}

.footer-text,
.footer-phone,
.footer-email {
  font-weight: 500;
}

.footer-onama-kursevi-usluge-prodaja {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media screen and (max-width: 414px) {
  .footer-onama-kursevi-usluge-prodaja {
    display: none;
  }
}

.footer-precizna-poljoprivreda {
  font-size: 20px;
  font-weight: 600;
}

.footer-link {
  color: white;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.footer-solical-media {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 414px) {
  .footer-solical-media {
    display: none;
  }
}

.footer-solical-mediat-naslov {
  font-size: 20px;
  font-weight: 600;
}

.footer-pitajte-nas {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 100%;
  @media screen and (max-width: 375px) {
    width: 300px;
  }
}

.footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background: #344955;
  color: black;
  padding: 30px;
  border-radius: 10px;
  border: none;
}

.footer-pitajte-nas-naslov {
  font-size: 24px;
  display: flex;
  font-weight: 500;
  justify-content: center;
  color: white;
}

.footer-tu-smo-da-vam-pomognemo {
  font-weight: 500;
  display: flex;
  justify-content: center;
  color: white;
}

.footer-form-container {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.footer-input-email,
.footer-input-first-name,
.footer-input-last-name,
.footer-input-pitanje {
  width: 100%;
  font-size: 16px;
  border-radius: 5px;

  @media screen and (max-width: 375px) {
    width: 250px;
  }
}

.footer-input-pitanje {
  width: 300px;
  height: 120px;
  box-sizing: border-box;

  @media screen and (max-width: 375px) {
    width: 250px;
  }
}

.footer-submit-button {
  background-color: rgb(17, 29, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  white-space: nowrap;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
} */
